.button {
  background-color: white;
  padding: 10px 22px;
  border-radius: 10px 0px;
  border: var(--stroke-weight-2, 2px) solid var(--Grey-Tints-950, #000);
  color: var(--Grey-Tints-950, #000);
  text-align: center;
  font-family: var(--primary-font);
  font-size: 12px;
  line-height: 15px; /* 171.429% */
  letter-spacing: 0.022px;
  cursor: pointer;
}

.button:hover {
  background-color: #000;
  color: white;
}

@media screen and (min-width: 1024px) {
  .button {
    padding: 16px 36px;
    font-size: 14px;
    border-radius: var(--radius-16, 16px) 0px;
    border: var(--stroke-weight-2, 2px) solid var(--Grey-Tints-950, #000);
  }
}
