.pill-carousel-container {
  overflow: hidden;
}

.pill-carousel-swiper .swiper-wrapper {
  animation: scroll 40s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.pill {
  display: inline-block;
  padding: 8px 24px;
  border: 1px solid black;
  border-radius: 999px;
  font-size: 14px;
  white-space: nowrap;
  text-align: center;
}
