.contact .contact-form {
  padding: 30px 0 15px;
}

.contact .contact-content {
  padding: 15px 0 30px;
}

.contact .form-field:not(:last-child) {
  margin-bottom: 16px;
}

.contact .form-field.first {
  display: flex;
  gap: 16px;
}

.contact .form-field .form-field {
  width: 50%;
  margin: 0 !important;
}

.contact input,
.contact textarea {
  display: block;
  width: 100%;
  border: var(--stroke-weight-1, 0.641px) solid var(--color-grey-66, #a9a9a9);
  background: var(--color-grey-98, #fafafa);
}

.contact textarea {
  height: 90px;
}

.contact label {
  color: #000;
  font-size: 10px;
  line-height: 15px;
  letter-spacing: 0.022px;
}

.contact label span {
  color: #000;
  font-size: 9px;
  line-height: 15px;
  margin: 0 5px;
  letter-spacing: 0.022px;
}

.contact .contact-content h1 {
  color: var(--color-black-solid, #000);
  font-family: 'Cormorant Garamond';
  font-size: 28px;
  font-weight: 400;
  line-height: 28px; /* 100% */
  letter-spacing: 0.042px;
}

.contact .contact-content p {
  color: var(--color-black-solid, #000);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.035px;
  margin: 12px 0;
}

.contact .contact-content a {
  display: block;
  color: #ff004f;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.035px;
}

.social-icons {
  display: flex;
  padding: 20px 0;
  max-width: 150px;
  align-items: center;
  justify-content: space-between;
}

.social-icons a img {
  display: block;
}

@media screen and (min-width: 1024px) {
  .contact {
    padding: 60px 0;
  }

  .contact .contact-content-main {
    display: flex;
    gap: 80px;
  }

  .contact .contact-form {
    order: 1;
    width: 50%;
  }

  .contact .contact-content {
    width: 50%;
  }

  .contact .contact-content h1 {
    font-size: 47px;
    line-height: 1;
  }
  .contact .contact-content p {
    font-size: 18px;
    line-height: 26px;
    margin: 40px 0;
  }

  .contact .contact-content a {
    font-size: 18px;
  }

  .contact label {
    font-size: 14px;
    line-height: 24px; /* 171.429% */
  }

  .contact label span {
    font-size: 12px;
    line-height: 14px; /* 116.667% */
    letter-spacing: 0.048px;
    text-transform: lowercase;
    opacity: 0.7;
  }

  .contact .form-field:not(:last-child) {
    margin-bottom: 24px;
  }

  .social-icons {
    padding: 40px 0;
  }
}
