.contact .contact-form {
  padding: 30px 0 15px;
}

.contact .contact-content {
  padding: 15px 0 30px;
}

.contact .form-field:not(:last-child) {
  margin-bottom: 16px;
}

.contact .form-field.first {
  display: flex;
  gap: 16px;
}

.contact .form-field .form-field {
  width: 50%;
  margin: 0 !important;
}

.contact input,
.contact textarea {
  display: block;
  width: 100%;
  border: var(--stroke-weight-1, 0.641px) solid var(--color-grey-66, #a9a9a9);
  background: var(--color-grey-98, #fafafa);
}

.contact textarea {
  height: 90px;
}

.contact label {
  color: #000;
  font-size: 10px;
  line-height: 15px;
  letter-spacing: 0.022px;
}

.contact label span {
  color: #000;
  font-size: 9px;
  line-height: 15px;
  margin: 0 5px;
  letter-spacing: 0.022px;
}

.contact .contact-content h1 {
  color: var(--color-black-solid, #000);
  font-family: 'Cormorant Garamond';
  font-size: 28px;
  font-weight: 400;
  line-height: 28px; /* 100% */
  letter-spacing: 0.042px;
}

.contact .contact-content p {
  color: var(--color-black-solid, #000);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.035px;
  margin: 12px 0;
}

.contact .contact-content a {
  display: block;
  color: #ff004f;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.035px;
}

.social-icons {
  display: flex;
  padding: 20px 0;
  max-width: 150px;
  align-items: center;
  justify-content: space-between;
}

.social-icons a img {
  display: block;
}

.testimonial img {
  width: 126px;
  height: 126px;
  display: block;
  border-radius: 50%;
  margin: 0 auto;
}

.case {
  padding: 20px;
}

.case img {
  max-width: 100%;
}

.case .text h5 {
  color: var(--color-black-solid, #000);
  font-family: var(--secondary-font);
  font-size: 14px;
  line-height: 200%; /* 28px */
  letter-spacing: 2.8px;
}

.case .text h2 {
  color: var(--color-black-solid, #000);
  font-size: 20px;
  font-weight: 600;
  line-height: 34px; /* 60px */
  letter-spacing: 0.8px;
  margin-bottom: 16px;
}

/* home testimonials */

.testimonials {
  padding: 20px 0;
}

.testimonial-content p,
.testimonial-content span {
  font-size: 13px;
  line-height: 22px;
}

.testimonial-content p {
  margin: 10px 0 16px;
  max-width: 320px;
}

.testimonial-content .testimonial {
  margin-bottom: 20px;
}

/* about styles */

.about .abt-banner {
  padding: 20px 0;
}

.about .abt-banner img {
  max-width: 100%;
}

.abt-banner h1 {
  color: var(--color-black-solid, #000);
  font-family: var(--font-family-Font-1, 'Cormorant Garamond');
  font-size: 24px;
  font-weight: var(--font-weight-500, 500);
  line-height: var(--line-height-61_2, 30px); /* 129.936% */
}

.abt-banner b {
  color: var(--color-black-solid, #000);
  font-size: 13px;
  font-weight: 700;
  line-height: 20px;
}

.abt-banner p {
  color: var(--color-black-solid, #000);
  font-size: 13px;
  font-weight: 400;
  line-height: 26px; /* 170% */
  margin: 16px 0 0;
}

.abt-banner button:last-child {
  margin-top: 24px;
}

.about .adv-map {
  padding: 40px 0;
}

.adv-map h2 {
  color: var(--color-black-solid, #000);

  /* Headline 4/Reg */
  font-family: 'Cormorant Garamond';
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 102.128% */
  letter-spacing: 0.118px;
}

.adv-map img {
  display: block;
  max-width: 100%;
  margin: 20px 0;
}

.adv-map p {
  color: var(--color-black-solid, #000);
  text-align: center;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px; /* 170% */
}

.adv-map p span {
  color: var(--color-black-solid, #000);
  text-align: center;

  /* Headline 6 */
  font-family: 'Cormorant Garamond';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 100% */
  letter-spacing: 0.042px;
}

.about .abt-testimonials {
  padding: 20px 0;
  text-align: center;
}

.about .abt-testimonials .abt-testimonial {
  margin-bottom: 20px;
}

.abt-testimonials img {
  margin-bottom: 20px;
  max-width: 100%;
}

.abt-testimonials p {
  color: var(--color-black-solid, #000);
  text-align: center;
  font-family: var(--font-family-Font-2, Inter);
  font-size: 14px;
  margin: 0;
  font-style: normal;
  font-weight: var(--font-weight-400, 400);
  line-height: var(--line-height-28_8, 26px); /* 217.358% */
}

@media screen and (min-width: 1024px) {
  .contact {
    padding: 60px 0;
  }

  .contact .contact-content-main {
    display: flex;
    gap: 80px;
  }

  .contact .contact-form {
    order: 1;
    width: 50%;
  }

  .contact .contact-content {
    width: 50%;
  }

  .contact .contact-content h1 {
    font-size: 47px;
    line-height: 1;
  }
  .contact .contact-content p {
    font-size: 18px;
    line-height: 26px;
    margin: 40px 0;
  }

  .contact .contact-content a {
    font-size: 18px;
  }

  .contact label {
    font-size: 14px;
    line-height: 24px; /* 171.429% */
  }

  .contact label span {
    font-size: 12px;
    line-height: 14px; /* 116.667% */
    letter-spacing: 0.048px;
    text-transform: lowercase;
    opacity: 0.7;
  }

  .contact .form-field:not(:last-child) {
    margin-bottom: 24px;
  }

  .social-icons {
    padding: 40px 0;
  }

  .case {
    position: relative;
    display: flex;
    align-items: center;
    gap: 80px;
    padding: 80px 0;
  }

  .case img {
    width: 800px;
    /* position: absolute;
    left: 0;
    top: 0; */
    max-width: 100%;
  }

  .case .text {
    margin-right: 120px;
  }

  .case .text h5 {
    color: var(--color-black-solid, #000);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 200%; /* 28px */
    letter-spacing: 2.8px;
  }

  .case .text h2 {
    color: var(--color-black-solid, #000);
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 54px; /* 60px */
    letter-spacing: 0.8px;
    margin-bottom: 24px;
  }

  /* home testimonials */

  .testimonials {
    padding: 40px 0 80px;
  }

  .testimonials .testimonial-content {
    display: flex;
    gap: 40px;
    justify-content: center;
  }

  .testimonial-content p,
  .testimonial-content span {
    font-size: 16px;
    line-height: 30px;
  }

  .testimonial-content p {
    margin: 10px 0 16px;
    max-width: 320px;
  }

  /* about styles */

  .about .abt-banner {
    display: flex;
    gap: 60px;
    padding: 80px 0;
  }

  .abt-banner h1 {
    font-size: 47px;
    line-height: var(--line-height-61_2, 60px); /* 129.936% */
  }

  .abt-banner b {
    font-size: 20px;
    font-weight: 700;
    line-height: 34px;
  }

  .abt-banner p {
    font-size: 18px;
    font-weight: 400;
    line-height: 34px; /* 170% */
    margin: 24px 0 0;
  }

  .abt-banner button:last-child {
    margin-top: 24px;
  }

  .about .adv-map {
    padding: 80px 0;
  }

  .adv-map h2 {
    font-size: 47px;
    font-weight: 400;
    line-height: 48px; /* 102.128% */
    letter-spacing: 0.118px;
  }

  .adv-map img {
    display: block;
    max-width: 100%;
    margin: 80px 0;
  }

  .adv-map p {
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 34px; /* 170% */
  }

  .adv-map p span {
    text-align: center;
    font-size: 28px;
    font-weight: 400;
    line-height: 28px; /* 100% */
    letter-spacing: 0.042px;
  }

  .about .abt-testimonials {
    padding: 80px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    text-align: center;
  }

  .abt-testimonials img {
    margin-bottom: 40px;
    max-width: fit-content;
  }

  .abt-testimonials p {
    text-align: center;
    font-size: 14px;
    margin: 0;
    font-weight: var(--font-weight-400, 400);
    line-height: var(--line-height-28_8, 26px); /* 217.358% */
  }
}
