:root {
  --primary-font: 'Inter', sans-serif;
  --secondary-font: 'Cormorant Garamond', serif;
}

body {
  font-family: var(--primary-font);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}
